@import "mins.less";
@import "vars.less";

body {
  background-color: @body;
  color: #fff;
  text-shadow: #ffffff 0px 0px 20px;
  text-align: center;
  font-family: "Azeret Mono", monospace;
}

h1 {
  font-family: "Azeret Mono";
}
.txt {
  font-size: 2em;
}
.board {
  background-image: url(https://picsum.photos/1350/700);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #00000073;
  background-blend-mode: color;
  -background-image: linear-gradient(122deg, #6746a7, #e61d0969);
  border: 2px solid rgb(19, 9, 9);
  border-radius: 10px;

  margin: 0 7vh;
  padding: 0 7vh;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr 1fr 1fr;
  gap: 1em;

  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";

  .cell {
    color: black;
    backdrop-filter: blur(3px);
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    width: 85%;
    height: 20vh;
    text-align: center;
    font-size: 20vh;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    margin: 15px auto;
    display: flex;
    background: linear-gradient(45deg, white, transparent);
    transition: 100ms;

    span {
      margin: auto;
      line-height: 1;
      width: 100%;
      height: 100%;
    }

    &:hover {
      transform: scale(105%);
    }
  }
}

.player1 {
  transition: 10ms;
  color: @player1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: #2a00ff 0px 0px 14px;
  background-image: linear-gradient(45deg, rgb(179, 180, 245), transparent);
  text-shadow: #2a00ffb0 0px 0px 16px;
}

.player2 {
  transition: 10ms;
  color: @player2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: #00ff00 0px 0px 14px;
  background-image: linear-gradient(45deg, rgb(179, 245, 185), transparent);
  text-shadow: #00ff00 0px 0px 16px;
}

.blocked {
  border-top: 1px solid rgb(92, 57, 57);
  border-left: 1px solid rgb(92, 57, 57);
  border-radius: 10px;
}
